<!-- 这个header就是特指index的头部 -->
<% if(theme.index.header != null || theme.index.header == "") {%>
    <div class="index-header-line" >
        <span><%= theme.index.header %></span>
    </div>
<% } %>
<nav class="nav">
    <ul class="nav-menu"> 
        <% for (name in theme.menu) { %>
            <%var path = theme.menu[name] + 'index.html' %>
            <% var isActive = page.path === theme.menu[name] || page.path === path || page.path === path.substring(1); %>
            <% if(theme.showInMenu.includes(name)) { %>
                <li class="nav-menu-item"><a class="nav-button <%= isActive ? 'active' : '' %>" href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% } %>
        <% } %>
    </ul>
</nav>
