<% if(page.hasOwnProperty('comment') ? page.comment
    : theme.comment.twikoo.envId
    && theme.comment.twikoo.lang
) { %>

        <div id="tcomment"></div>
        <script src="https://registry.npmmirror.com/twikoo/1.6.44/files/dist/twikoo.min.js"></script>
        <script>
        twikoo.init({
            envId: '<%= theme.comment.twikoo.envId %>',
            el: '#tcomment',
            region: '<%= theme.comment.twikoo.region %>',
            lang: '<%= theme.comment.twikoo.lang %>',
        })
        </script>

<% } %>
